.route-info {
    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        border: 2px;
        width: 90%;
        height: 150px;
        margin: 10px auto;
        padding: 34px;
        box-shadow: 0 1px 4px 0 rgb(0, 0, 0 / 20%);
        background-color: #fff;
    }

    &__container.selected {
        @extend .route-info__container;
        border: 2px  #15700e solid;
    
        .flight-button {
            background: #15700e;
        }

    }
}