.cta {
    font-size: 1.2rem;
    line-height: 19px;
    font-weight: 700;
    margin: 10px;
    background: #c60c30;
    border: 0;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    
}
.selected {
    .cta {
        background: #15700e;
    }

}